@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color-black: #121212;
  --color-green: #34c94b;
  --color-white: #ffffff;
  --color-primary: #34c94b;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
